{% extends 'base.html.twig' %}

{% block title %}{{player}}{% endblock %}

{% block body %}

    <h1>{{player}}</h1>

    {# This article presents the player and his real name #}
    <article class="playerSentence">

        {# Begining of the sentence where we use the player nickname firstname and lastname #} 
        {{ player }} (de son vrai nom {{ player.firstname }} {{ player.lastname }}, {{ player.gender == 'Homme' ? ' né ' : ' née' }}  le {{ player.birthDate|date_fr('d F Y') }}) est 

        {# Ternary operator : inline if that allows me to ask if the player is male or female to modify the sentence in consequence #}
        {{ player.gender == 'Homme' ? ' un joueur ' : ' une joueuse ' }} 

        {% for playerRoster in player.playerRosters %}

            {% if not playerRoster.playingEndDate %}
                
                <a href="{{ path('details_game', {'name': playerRoster.roster.game.name}) }}">{{playerRoster.roster.game.name}}</a> pour <a href="{{ path('details_team', {'id': playerRoster.roster.team.id}) }}">{{playerRoster.roster.team.name}}</a>
                
            {% endif %}

            
        {% endfor %}

        {# link to the country's details #}
        {# figure that will allow me to add the country's flag #}
        {# link to the country flag #}
        {# <a href="{{ path('details_country', {'id': country.id}) }}">

            <figure class="playerNationality">

                <img src="{{ country.flag }}" alt="Drapeau {{ country.nationalityNameMale }}">


            </figure>

        </a> #}
    </article>

    <article>

        <h4>Réseaux sociaux</h4>

        {% for socialMediaAccount in player.socialMediaAccounts %}

            {# This is a condition for the font awesome because the twitter logo isn't written the same maner as the other ones  #}
            {% if socialMediaAccount == 'X' or socialMediaAccount == 'Twitter' %}

            <li><a target="_blank" href="{{ socialMediaAccount.linktoSocialMedia }}"><i class="fa-brands fa-x-twitter"></i></a></li> 

            {% else %}

                <li><a target="_blank" href="{{ socialMediaAccount.linktoSocialMedia }}"><i class="fa-brands fa-{{socialMediaAccount|lower}}"></i></a></li>  

            {% endif %}
            
        {% endfor %}
    </article>
            

    {% if is_granted('ROLE_MODERATOR') %}    
        <a href="{{ path('edit_player', {'id': player.id}) }}" class="btn btn-warning">Modifier {{ player }}</a>
        {# <a href="{{ path('delete_player', {'id': player.id}) }}" class="btn btn-danger">Supprimer {{ player }}</a> #}
    {% endif %}


{% endblock %}