{% extends 'base.html.twig' %}

{% block title %}Ajoutez une nouvelle équipe !{% endblock %}

{% block body %}
        
    {# if the var edit is set it means we are in a modify form not in an add one so we adjust the title #}
    {% if edit %}
        <h1>Modifier {{ edit }}</h1>
    {% else %}
        <h1>Ajouter une nouvelle équipe !</h1>
    {% endif %}
        
    {# First form is the FUNCTION the second one is the var creates in the controller #}
    {{ form_start(form) }} 

        {{ form_row(form.name) }}
        {{ form_row(form.address) }}
        {{ form_row(form.zipCode) }}
        {{ form_row(form.city) }}

        <label for="searchInput">Dans quel pays est situé le siège social de l'équipe ?</label>
        {% include "searchBar.html.twig" %}


        {{ form_row(form.linkToOfficialPage) }}

    {{ form_end(form) }}
   
{% endblock %}