{% extends 'base.html.twig' %}

{% block title %}{{user}}{% endblock %}

{% block body %}

    <figure class="profilePicture">
        <img src="{{ asset('upload/avatar/' ~ user.profilePicture) }}" alt="photo de profil de {{user}}">
        <figcaption>
            <h1>{{user}}</h1>
        </figcaption>
    </figure>

    <section id="userPage">

        <figure class="favoriteTeamLogo">
        
            <a href="{{ path('details_team', {'id': user.team.id}) }}">
    
                <img src="{{ asset('upload/logo/' ~ user.team.logo) }}" alt="Logo de {{ user.team }}">
    
                <figcaption class="teamName">
    
                    {{ user.team }}
    
                </figcaption>
    
            </a>
    
        </figure>
    
    
        
        <a href="{{ path('edit_user', {'id': user.id}) }}"><input type="button" class="btn btn-warning" value="Modifier le compte"></a>
        <a href="{{ path('delete_user', {'id': user.id}) }}"><input type="button" class="btn btn-danger" value="Supprimer le compte"></a>
        
    </section>




{% endblock %}