{% extends 'base.html.twig' %}

{% block title %}HomeController!{% endblock %}

    
{% block body %}
    {# this is the error message #}
    {% for message in app.flashes('warning') %}
    <p>
        {{message}}
    </p>
    {% endfor %}
    <aside>
        <ol>
            {% for user in users %}
                <li>
                    {{ user }} ||
                    {{ user.siteCoins }} <i class="fa-solid fa-coins" style="color: #f2d40d;"></i>
                </li>
            {% endfor %}

        </ol>
    </aside>

    <aside>
        <ol>
            {# loop to take the teams in the data base limited at 10 needed and the sort allows me to sort the teams by  #}
            {% for team in teams|sort((a, b) => b.users|length <=> a.users|length)|slice(0, 10) %}
                <li>
                    <a href="{{ path('details_team', {'id': team.id}) }}">{{ team }}</a> ||
                    {{ team.users|length }} <i class="fa-solid fa-users"></i>
                </li>
            {% endfor %}

        </ol>
    </aside>
    {% if is_granted('ROLE_TEAM') and not is_granted('ROLE_MODERATOR') and app.user.team is null %}
        <h1>Tu dois créer ton équipe ici</h1>
        <a href="{{ path('new_team') }}">Créez votre équipe ici</a>
        
    {% endif %}
{% endblock %}
