{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Esport Xpertise - Le site d'information sur l'esport{% endblock %}

    
{% block body %}
    {# {% set now %} #}
    

    

    {# This is where my backgroud picture will be #}
    <section class="backgroundPic">

        <article class="backgroundPicText">

            {# This is the title of the home page #}
            <h1>Bienvenue sur Esport Xpertise {{ app.user == '' ? '' : app.user }} </h1>
    
            {# This is the description of the home page with a link to register if it'a a vistitor #}
            <p>
                Un site pour les amateurs d’esport et pour ceux qui en font la découverte. Ici vous pourrez trouver des renseignements sur ce qu’est l’esport mais aussi sur chaque équipe, chaque jeu ou encore chaque tournoi existant.
                
                {% if not app.user %}
                    
                    {# Link to register for someone who isn't logged in #}
                    <a href="{{ path('app_register') }}">Inscrivez vous</a> pour faire des prédictions sur des matchs et inscrire votre nom parmi les meilleurs et, si vous le souhaitez, suivre votre équipe favorite.
                
                {% endif %} 
    
            </p>

        </article>

    </section>

    <div class="homeContent">

        <aside class="topUsers">

            {% include "topUsersList.html.twig" %}

        </aside>
    
        <section>

            <h2>Qu'est-ce que l'esport ?</h2>

            <p class="esportDescription">
                L'esport désigne la compétiton entre des professionels du jeux vidéo. Ces compétitions peuvent être aussi bien en LAN (c'est-à-dire que les joueurs sont tous au même endroit et partagent la même connexion) qu'en ligne.L'esport a gagné énormément en popularité au fil des années, il attire un public mondial qui suit les compétitions à travers des plateformes de diffusion en direct sur Internet, comme Twitch. Les tournois majeurs peuvent offrir des prix conséquents, et les équipes esportives professionnelles sont devenues une réalité avec des sponsors, des contrats de joueurs et des ligues organisées. L'esport est ainsi devenu un phénomène culturel et une industrie à part entière, rassemblant des communautés de joueurs passionnées à travers le monde. Ce phénomène prend encore plus d'ampleur avec l'arrivée massive d'équipes lancées par des influenceurs qui ouvrent l'esport a leur communauté. On a par exemple en France l'exemple de la Karmine Corp lancée par un streamer Twitch, Kameto, et qui aujourd'hui est l'une des équipes les plus solides au monde aussi financièrement qu'au niveau du palmares.
            </p>

            <article id="tournament-list">
                <h2>Tournois</h2>
                <ul>

                    {% for tournament in tournaments %}
    
                        {# {{ dump(tournament.start_at) }} #}
                        {% if tournament.start_at and tournament.start_at %}

                            {# {{ dump(tournament) }} #}
                            
                            <li class="tournamentListHome">

                                <p class="tournamentNameHome">
                                    <a href="{{ path('details_tournament', {'name': tournament.name, 'url': tournament.url}) }}">{{ tournament.name }}</a>
                                    <i class="fa fa-angle-right"></i>
                                </p>

                                <p class="tournamentDetailsHome">
                                    Ce tournoi commence le {{ tournament.start_at|date_fr('l d F y')}} !
                                </p>
                               

                            </li>
                        {% endif %}
    
                        
                    {% endfor %}
                </ul>

            </article>

        </section>
    
        <aside class="topTeams">

            {% include "topTeamsList.html.twig" %}

        </aside>

    </div>
    
    {% if is_granted('ROLE_TEAM') and not is_granted('ROLE_MODERATOR') and app.user.team is null %}

        <h2>Tu dois créer ton équipe ici</h2>
        
        <a href="{{ path('new_team') }}">Créez votre équipe ici</a>
    
    {% endif %}

    {# This is where my backgroud picture will be #}
    <section class="backgroundPic"></section>

{% endblock %}
