{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Esport Xpertise - Le site d'information sur l'esport{% endblock %}

    
{% block body %}
    {# {% set now %} #}

    {# {{ dump(tournaments) }} #}
    

    

    {# This is where my backgroud picture will be #}
    <section class="backgroundPic">

        <article class="backgroundPicText">

            {# This is the title of the home page #}
            <h1>Bienvenue sur Esport Xpertise {{ app.user ? app.user : '' }} </h1>
    
            {# This is the description of the home page with a link to register if it'a a vistitor #}
            <p>
                Viens découvrir tes équipes <strong>d'esport</strong> préférées! <br>
                Suis les résultats des tournois de tes <strong>jeux vidéo</strong> favoris!
                
                {% if not app.user %}
                    
                    {# Link to register for someone who isn't logged in #}
                    <a href="{{ path('app_register') }}">Inscris-toi</a> ou <a href="{{ path('app_login') }}">Connecte-toi</a> si tu as déjà un compte, pour faire des prédictions sur des matchs, inscrire ton nom parmi les meilleurs et suivre ton équipe favorite.
                
                {% endif %} 
    
            </p>

        </article>

    </section>

    <div class="homeContent">

        <aside class="topUsers responsiveHide">

            {% include "topUsersList.html.twig" %}

        </aside>
    
        <section class="informationsContained">

            <h2>PASSION GAMING</h2>

            <p class="esportDescription">

                Passioné par <strong class="keywords">Valorant</strong>, <strong class="keywords">League of Legends</strong>, <strong class="keywords">CS2</strong> et plein d'autres... Retrouve tes joueurs favoris et suis leur progression. <br>
                {{ app.user ? "" : "Créé un compte! Créé ton roster et deviens un joueur d'esport! " }}

            </p>

            {% if not app.user %}
                <a href="{{ path('app_register') }}" class="buttonBlue">Commence ton aventure gaming!</a>
            {% endif %}

            <article id="tournament-list">

                <h2>Tournois</h2>

                <section class="tournamentsToDisplay">

                    {% for tournament in tournaments %}

                        
                        {{ dump(tournament) }}
                                
                        {% if not tournament.0.completed_at %}
                            
                            <figure class="tournamentFigures">

                                <a href="{{ path('details_tournament', {'name': tournament.0.name, 'url': tournament.0.url}) }}">
    
                                    <img src="{{ tournament.urlCoverGame }}" alt="Image du jeu {{ tournament.game }}" class="tournamentGameCover">

                                    <figcaption class="tournamentName">

                                    {{ tournament.0.name }}
                                        
                                    </figcaption>

                                </a>
                                
                                
    
                            </figure>
    
                        {% endif %}
                            
                        
                    {% endfor %}

                </section>          

            </article>

        </section>
    
        <aside class="topTeams responsiveHide">

            {% include "topTeamsList.html.twig" %}

        </aside>

    </div>
    
    {% if is_granted('ROLE_TEAM') and not is_granted('ROLE_MODERATOR') and app.user.team is null %}

        <h2>Tu dois créer ton équipe ici</h2>
        
        <a href="{{ path('new_team') }}">Créez votre équipe ici</a>
    
    {% endif %}

    {# This is where my backgroud picture will be #}
    <section class="backgroundPic"></section>

{% endblock %}
