{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        <div class="col-2 formRowPassword">
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
        </div>
        {{ form_row(registrationForm.profilePicture) }}

        <label>Êtes-vous un utilisateur ou une équipe ?</label>

        <label for="userRole">Utilisateur</label>
        <input type="radio" id="userRole" name="userOrTeam" value="user" checked>

        <label for="teamRole">Équipe</label>
        <input type="radio" id="teamRole" name="userOrTeam" value="team">
    
        {{ form_row(registrationForm.agreeTerms) }}
        {{ form_row(registrationForm.isOfLegalAge) }}

    {{ form_end(registrationForm) }}
{% endblock %}
