{% extends 'base.html.twig' %}

{% block title %}{{ country.translations.fra.common }}{% endblock %}

{% block body %}

    {# This figure contains the flag of the country and the title of the page which is the country's name #}
    {# <figure class="countryFlag">
        <img src="{{country.flag}}" alt="Drapeau {{ country }}">
        <figcaption>
            <h1>{{country}}</h1>
        </figcaption>
    </figure> #}

    <article class="countryEditors">
          
        <h2>Liste des éditeurs de jeux</h2>
        <ul>
            {% for editor in editors %}
                {% if editor.country == country.cca2 %} 
                    <li><a href="{{ path('details_editor', {'id': editor.id}) }}">{{ editor }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

    </article>

    {# <article class="countryTeams">
        <h2>Liste des équipes</h2>
        <ul>
            {% if country.teams %}
                {% for team in country.teams %}
                    <li><a href="{{ path('details_team', {'id': team.id}) }}">{{ team }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </article>
    
    <article class="countryPlayers">
        <h2>Liste des joueurs</h2>
        <ul>
            {% if country.players %}
                {% for player in country.players %}
                    <li><a href="{{ path('details_player', {'id': player.id}) }}">{{ player }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </article> #}

    {# Delete and modify the database is only allowed to moderators or admin #}
    {# {% if is_granted('ROLE_MODERATOR') %}
        <a href="{{ path('edit_country', {'id': country.id}) }}" class="btn btn-warning">Modifier {{ country }}</a>
        <a href="{{ path('delete_country', {'id': country.id}) }}" class="btn btn-danger">Supprimer {{ country }}</a>
    {% endif %} #}


{% endblock %}