{% extends 'base.html.twig' %}

{% block title %}Esport Xpertise - liste des tournois d'esport{% endblock %}

{% block body %}
    <h1>Liste des tournois</h1>

    <ul id="tournamentsList">
        {# {{ dump(tournaments) }} #}
        {% for tournament in tournaments %}

            {% for tournamentDB in tournamentsDB %}
            
                {% if tournament.name == tournamentDB.name %}
                    
                    <li>
                        <figure>

                            <img src="{{ tournamentDB.game.cover }}" alt="couverture du jeu {{ tournamentDB.game }}">
        
                            <figcaption>
                                
                                <a href="{{ path('details_tournament', {'name': tournament.name, 'url': tournament.url}) }}">{{ tournament.name }}</a>
        
                            </figcaption>
        
                        </figure>                      
                        
                    </li>
                {% endif %}

            {% endfor %}


        {% endfor %}
    </ul>
{% endblock %}
