{% extends 'base.html.twig' %}

{% block title %}Esport Xpertise - liste des tournois d'esport{% endblock %}

{% block body %}
    <h1>Liste d'équipes</h1>

        <ul id="tournamentsList">
        {{ dump(tournaments) }}
            {% for tournament in tournaments %}
                <li>
                    {{ tournament.name }}
                    {# {{ tournament.start_at|date_fr('l j F Y') }}
                    <a href="{{ path('details_game', {'name': tournament.game_name}) }}">{{ tournament.game_name }}</a> #}
                </li>
            {% endfor %}
        </ul>
{% endblock %}
