{% extends 'base.html.twig' %}

{% block title %}{{tournament}}{% endblock %}

{% block body %}

    {# check if the tournament as started or is already finished by comparing it to today's date #}
    {% set today = "now"|date("Y m d")  %}

    {# Tournament name will be used as a title #}
    <h1>{{ tournament }}</h1>


    {# Tournament start and end dates #}
    <p>Le tournoi {{ tournament }} {{ tournament.startDate > today ? ' débutera ' : ' a débuté' }} le {{ tournament.startDate|date_fr('d F Y') }} et {{ tournament.endDate > today ? ' finira ' : "s'est fini" }} le {{ tournament.endDate|date_fr('d F Y') }} </p>

    {# Name of the game of the tournament #}
    <p>Il s'agit d'un tournoi sur le jeu video {{ tournament.game }}</p>


    {# Delete and modify the database is only allowed to moderators or admin #}
    {% if is_granted('ROLE_MODERATOR') %}

        {# link to modify the tournament #}
        <a href="{{ path('edit_tournament', {'id': tournament.id}) }}" class="btn btn-warning">Modifier {{ tournament }}</a>

        {# link to delete the tournament #}
        <a href="{{ path('delete_tournament', {'id': tournament.id}) }}" class="btn btn-danger">Supprimer {{ tournament }}</a>

    {% endif %}


{% endblock %}