{% extends 'base.html.twig' %}

{% block title %}Ajoutez un éditeur de jeux !{% endblock %}

{% block body %}
        
    {# if the var edit is set it means we are in a modify form not in an add one so we adjust the title #}
    {% if edit %}
        <h1>Modifier {{ edit }}</h1>
    {% else %}
        <h1>Ajouter un éditeur de jeux !</h1>
    {% endif %}
        
    {# First form is the FUNCTION the second one is the var creates in the controller #}
    {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.creationDate) }}
        {{ form_row(form.city) }}

        <label for="searchInput">Dans quel pays est situé le siège social de l'éditeur ?</label>
        {% include "searchBarCountry.html.twig" %}


        {{ form_row(form.linkToOfficialPage) }}



    {{ form_end(form) }}
   
{% endblock %}