<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">

        {# link for fontAwesome #}
        <script src="https://kit.fontawesome.com/d08e193109.js" crossorigin="anonymous"></script>

        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        {% block stylesheets %}

            {# Link for Swiper's CSS #}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
            

            {# Link for bootstrap's css #}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

            {# Links for my own css files #}
            <link rel="stylesheet" href="{{ asset('css/game.css') }}">
            <link rel="stylesheet" href="{{ asset('css/team.css') }}">
            <link rel="stylesheet" href="{{ asset('css/user.css') }}">
            <link rel="stylesheet" href="{{ asset('css/editor.css') }}">
            <link rel="stylesheet" href="{{ asset('css/country.css') }}">
            <link rel="stylesheet" href="{{ asset('css/player.css') }}">
            <link rel="stylesheet" href="{{ asset('css/home.css') }}">
            <link rel="stylesheet" href="{{ asset('css/tournament.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

        
    </head>
    <body>
        <header id="siteHeader">

            {# site's logo with link to home page #}
            <figure class="logoSite">
                <a href="{{ path('app_home') }}"><img src="{{ asset('img/LogoSite.jpg') }}" alt="Logo du site"></a>
            </figure>

            {# Name for this site #}
            <h2 id="siteName">Esport Xpertise</h2>

            <nav>
                <ul class="navBar">

                    {# link to homePage #}
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>

                    {# link to list of games #}
                    <li><a href="{{ path('app_game') }}">Jeux</a></li>

                    {# link to list of editors #}
                    <li><a href="{{ path('app_editor') }}">Editeurs</a></li>

                    {# link to list of teams #}
                    <li><a href="{{ path('app_team') }}">Equipes</a></li>

                    {# link to list of players #}
                    <li><a href="{{ path('app_player') }}">Joueurs</a></li>

                    {# link to list of countries #}
                    <li><a href="{{ path('app_country') }}">Pays</a></li>

                    {% if app.user %}

                        {# logOut #}
                        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                        
                        {# account #}
                        <li>
                            <figure class="userProfilePicture">
                                <a href="{{ path('app_user', {'id': app.user.id}) }}">
                                    <img src="{{ asset('upload/avatar/' ~ app.user.profilePicture) }}" alt="votre photo de profil">
                                </a>
                            </figure>
                        </li>

                        {# display user's coins #}
                        <li>{{ app.user.siteCoins }}  <i class="fa-solid fa-coins" style="color: #f2d40d;"></i></li>

                    {% else %}

                        {# link to LoginPage #}
                        <li><a href="{{ path('app_login') }}">Connexion</a></li>

                    {% endif %}
                    
                    {% if is_granted('ROLE_MODERATOR') %}

                        <li><a href="{{ path('app_users') }}">Liste des utilisateurs</a></li>

                        {# Bootstrap's way to do a dropdown menu #}
                        <div class="dropdown">

                            {# Button to toggle the hide class in the ul #}
                            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Ajouter
                            </a>

                            {# where the hide class will be toggled #}
                            <ul class="dropdown-menu">

                                {# Link to create a new game #}
                                <li><a href="{{ path('new_game') }}" class="dropdown-item">Jeu</a></li>

                                {# Link to create a new country #}
                                <li><a href="{{ path('new_tournament') }}" class="dropdown-item">Tournoi</a></li>

                                {# Link to create a new match #}
                                <li><a href="{{ path('app_home') }}" class="dropdown-item">Match</a></li>

                                {# Link to create a new team #}
                                <li><a href="{{ path('new_team') }}" class="dropdown-item">Equipe</a></li>

                                {# Link to create a new player #}
                                <li><a href="{{ path('new_player') }}" class="dropdown-item">Joueur</a></li>

                                {# Link to create a new editor #}
                                <li><a href="{{ path('new_editor') }}" class="dropdown-item">Editeur</a></li>

                                {# Link to create a new social media #}
                                <li><a href="{{ path('app_home') }}" class="dropdown-item">Réseau Social</a></li>
                            </ul>
                        </div>
                    {% endif %}
                    
                </ul>
            </nav>
        </header>

        <main id="siteMain">

            <section id="container">
                {# error messages  #}
                {% for flash_error in app.flashes('error') %}
                    
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                
                {% endfor %}

                {# success messages #}
                {% for flash_success in app.flashes('success') %}

                    <div class="alert alert-success" role="alert">{{ flash_success }}</div>

                {% endfor %}
                {% block body %}{% endblock %}
            </section>

            {# https://www.igdb.com/api : api for video game #}
        </main>

        <footer id="siteFooter">

            {# site's logo with link to home page #}
            <figure class="logoSite">
                <a href="{{ path('app_home') }}"><img src="{{ asset('img/LogoSite.jpg') }}" alt="Logo du site"></a>
            </figure>

            {# copyright.. #}
            <p>&copy; 2023 - Esport Xpertise - <a href="#">Règlement</a> - <a href="#">Mentions légales</a></p>

            {# Links to my own social medias #}
            <div class="socialMedia">
                <a target="_blank" href="#"><i class="fa-brands fa-facebook"></i></a>
                <a target="_blank" href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a target="_blank" href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a target="_blank" href="#"><i class="fa-brands fa-instagram"></i></a>
                <a target="_blank" href="#"><i class="fa-brands fa-snapchat"></i></a> 
                <a target="_blank" href="#"><i class="fa-brands fa-github"></i></a> 
            </div>
        </footer>
        {% block javascripts %}

            {# Link js for swiper #}
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

            {# script for axios // this is a library that allows me to make http requests this is usually use to communicate with an api #}
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

            {# Link to bootstrap's js #}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

            {# links to my js files #}
            
            {# link to nationalitySearchBar js #}
            <script src="{{ asset('js/gameSearchBar.js') }}"></script>

            {# link to searchBars js #}
            <script src="{{ asset('js/searchBars.js') }}"></script>

            {# link to favorite js #}
            <script src="{{ asset('js/favorite.js') }}"></script>
            
            {# link to gameDetails js #}
            <script src="{{ asset('js/gameDetails.js') }}"></script>
            
            {# link to tournamentForm js #}
            <script src="{{ asset('js/tournamentForm.js') }}"></script>
            
            {# Script for jquery #}
            <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous">
            </script>

            {# link to collectionType for social medias js #}
            <script src="{{ asset('js/collectionTypeSocialMedia.js') }}"></script>

            {# link to api games js #}
            <script src="{{ asset('js/apiGames.js') }}"></script>
        {% endblock %}

    </body>
</html>


{# password tests #}
{# martin : Martinmartin123! Ancien !!!!!! #}
{# martin : Azertyuiop123! Nouveau !!!!!! #}
{# martine : Martinemartine123! #}
{# frfrfrfrf : Azertyuiop123! #}
{# bruce : Azertyuiop123! #}
{# mnop : Azertyuiop123! #}